.header {
  text-align: center;
  background: #6411CD;
  color: #fff;
  padding: 12px;
}

ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
}

a {
  color: #ffffff;
}

li {
  display: inline;
  font-size: 20px;
}

li a {
  color: white;
  text-align: center;
  padding: 10px;
  text-decoration: none;
}

li a:hover {
  text-decoration: underline;
}
