<div class="order-wrapper">
  <div class="confirmation" *ngIf="displayPage; else showThis">
    <h1>Success! 🎉</h1>
    <h3>
      Thank you for your order.
    </h3>
    <h3>
      Your order for <b>${{ +orderDetails.total }}</b> is confirmed.
    </h3>
    <h3>Please allow up to 5 business days for shipping</h3>
    <button class="back-to-products" routerLink="/" (click)="clearOrder()">Back to products page</button>
  </div>
  <ng-template #showThis>
    <div class="confirmation">
      <h1>Oops!</h1>
      <h3>No Order Found</h3>
      <h3>Return to the checkout page to complete your order.</h3>
      <button type="button" class="back-to-cart-button" routerLink="/checkout">Back to checkout</button>
      <!-- <a routerLink="/checkout">Back to checkout</a> -->
    </div>
  </ng-template>
</div>
