<div class="cart-page-container">
  <div class="cart-info">
    <div *ngFor="let cart of cartItems; let i = index" class="cart-item">
      <div>
        <img class="cart-image" src="{{ cart?.url }}" alt="{{ cart?.name }}" />
      </div>
      <div class="cart-item-details">
        <div class="product-name">{{ cart?.name }}</div>
        <div class="product-price">
          {{ +cart.price * (cart.quantity || 1) | number : "1.0-2" }}
        </div>
        <div class="product-amount">
          Amount:
          <input
            class="product-quant"
            #quant
            type="number"
            name="quantity"
            value="{{ cart.quantity }}"
            step="1"
            min="1"
            max="10"
            (change)="updateQuantity(i, quant.value)"
          />
        </div>
      </div>
    </div>
    <h2 *ngIf="cartItems.length > 0">
      Total: <b>${{ cartTotal }}</b>
    </h2>
  </div>
  <div class="form-container">
    <!-- form -->
    <form #form="ngForm" (ngSubmit)="checkoutOrder()" class="form-margin">
      Full Name<br />
      <input
        type="text"
        #fullnameval="ngModel"
        pattern="[a-zA-Z ]*"
        placeholder="(minimum 3 characters)"
        required
        minlength="5"
        maxlength="50"
        name="fullname"
        [(ngModel)]="fullname"
        class="name-input"
      /><br />
      Address<br />
      <input
        #addressval="ngModel"
        type="text"
        placeholder="(minimum 7 characters)"
        required
        minlength="7"
        maxlength="100"
        name="address"
        [(ngModel)]="address"
        class="address-input"
      /><br />
      Credit Card<br />
      <input
        #creditcardval="ngModel"
        pattern="[0-9]*"
        type="text"
        placeholder="(minimum 15 characters)"
        required
        minlength="15"
        maxlength="16"
        name="creditcard"
        [(ngModel)]="creditcard"
        class="card-input"
      /><br />
      <input
        #submit
        type="submit"
        [disabled]="form.invalid || cartItems.length <= 0"
        class="submit-details"
        value="Purchase"/><br />
    </form><br />
    <div *ngIf="fullnameval.invalid && fullnameval.dirty" class="alert">
      <div *ngIf="fullnameval.errors?.['required']">Fullname is required.</div>
      <div *ngIf="fullnameval.errors?.['pattern']">
        Fullname cannot have numbers
      </div>
      <div *ngIf="fullnameval.errors?.['minlength']">
        Name must be at least 3 characters long.
      </div>
    </div>
    <div *ngIf="addressval.invalid && addressval.dirty" class="alert">
      <div *ngIf="addressval.errors?.['required']">Address is required.</div>
      <div *ngIf="addressval.errors?.['minlength']">
        Address must be at least 7 characters long.
      </div>
    </div>
    <div *ngIf="creditcardval.invalid && creditcardval.dirty" class="alert">
      <div *ngIf="creditcardval.errors?.['required']">
        Credit card field is required.
      </div>
      <div *ngIf="creditcardval.errors?.['pattern']">Numbers Only</div>
      <div *ngIf="creditcardval.errors?.['minlength']">
        Credit Card number must be at least 15 characters long.
      </div>
    </div>
    <!-- div for ngIf form.valid but cartitems <=0 -->
    <div *ngIf="form.invalid && cartItems.length <= 0" class="alert">
      <div>Your cart is empty.</div>
    </div>
  </div>
</div>
