{
    "root": true,
    "plugins": [
      "prettier"
    ],
    "extends": [
      "eslint:recommended",
      "plugin:@typescript-eslint/recommended"
    ],
    "rules": {
      "prettier/prettier": 2 ,
      "no-use-before-define": ["error", { "functions": true, "classes": true }],
      "no-var": "error",
      "prefer-const": "error",
      "@typescript-eslint/ban-ts-ignore": "off"
    },
    "parserOptions": {
      "ecmaVersion": 14,
      "sourceType": "module"
    },
    "env": {
      "node": true,
      "es6": true
    }
}
